In [2]:
import pandas as pd

file_path = '../data/census.csv' 
df = pd.read_csv(file_path)

# Inspect the data
print("First 5 rows of the dataset:")
print(df.head())

print("\nSummary statistics:")
print(df.describe())

print("\nColumn information:")
print(df.info())

print("\nMissing values per column:")
print(df.isnull().sum())

First 5 rows of the dataset:
   age          workclass   fnlgt   education   education-num  \
0   39          State-gov   77516   Bachelors              13
1   50   Self-emp-not-inc   83311   Bachelors              13
2   38            Private  215646     HS-grad               9
3   53            Private  234721        11th               7
4   28            Private  338409   Bachelors              13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital-gain   capital-loss   hours-per-week  native-country  salary
0           2174              0               40   United-States   <=50K
1              0              0               13   United-States   <=50K
2              0              0               40   United-States   <=50K
3              0              0               40   United-States   <=50K
4              0              0               40            Cuba   <=50K

Summary statistics:
                age         fnlgt   education-num   capital-gain  \
count  32561.000000  3.256100e+04    32561.000000   32561.000000
mean      38.581647  1.897784e+05       10.080679    1077.648844
std       13.640433  1.055500e+05        2.572720    7385.292085
min       17.000000  1.228500e+04        1.000000       0.000000
25%       28.000000  1.178270e+05        9.000000       0.000000
50%       37.000000  1.783560e+05       10.000000       0.000000
75%       48.000000  2.370510e+05       12.000000       0.000000
max       90.000000  1.484705e+06       16.000000   99999.000000

        capital-loss   hours-per-week
count   32561.000000     32561.000000
mean       87.303830        40.437456
std       402.960219        12.347429
min         0.000000         1.000000
25%         0.000000        40.000000
50%         0.000000        40.000000
75%         0.000000        45.000000
max      4356.000000        99.000000

Column information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

Missing values per column:
age                0
 workclass         0
 fnlgt             0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 salary            0
dtype: int64

In [3]:
print("Columns in the DataFrame:")
print(df.columns.tolist())

Columns in the DataFrame:
['age', ' workclass', ' fnlgt', ' education', ' education-num', ' marital-status', ' occupation', ' relationship', ' race', ' sex', ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country', ' salary']

In [ ]:
# remove blank spaces at the beginning of the columnames

In [4]:
df.columns = df.columns.str.strip()

In [6]:
df.to_csv("../data/census_cleaned.csv", index=False)